body {
    overflow: hidden;
}

footer.disclaimer {
    font-family: Arial, sans-serif;
    text-transform: none;
    letter-spacing: 0;
    text-align: left;
    color: #aaa;
    font-size: 9px;
    padding: 0 10px;
    line-height: 14px;
    overflow: hidden;
    margin: 15px 0;
}

footer.disclaimer a {
    color: #aaa;
}

footer.disclaimer .zaraguza {
    font-size: 9px;
    color: #aaa;
    margin-top: 7px;
}

footer.disclaimer .zaraguza a {
    color: #aaa;
    text-decoration: none;
}

footer.disclaimer .zaraguza a:hover {
    text-decoration: underline;
}

footer.disclaimer .zaraguza a img {
    border: none;
    opacity: 0.6;
    filter: aplha(opacity=60);
}