/* General elements */
body { font-family: 'Open sans', Arial, sans-serif; line-height: 1.5; color: #574e4a; }

a { color: #4f9a2c; text-decoration: none; }
a:hover { border-bottom: 1px dashed #4f9a2c; }
a[name] { position: relative; top: -80px; /* compensate the fixed header for named anchors */ }

p { margin-top: 5px; margin-bottom: 15px; text-align: justify; }
h2, .h2 { text-align: center; margin-top: 60px; margin-bottom: 50px; font-family: 'Bree serif', Times, serif; font-size: 36px; font-weight: bold; text-transform: uppercase; color: #4f3629; }
h3, .h3 { margin-top: 30px; margin-bottom: 5px; }
hr { clear: both; border: none; border-top: 1px solid #ccc; margin-top: 50px; margin-bottom: 50px; }

ul,
ol { margin-top: 30px; margin-bottom: 30px; }
ol { list-style: none; counter-reset: li; }
li { margin: 15px 0; }
li h4 { margin: 0; }
li p { margin: 0; }
ol li { padding-left: 60px; min-height: 60px; }
ol li:before { content: counter(li); counter-increment: li; font-family: 'Bree serif', Times, serif; float: left; margin-left: -60px; border: 5px solid #bfb4ad; color: #bfb4ad; font-size: 36px; text-align: center; line-height: 40px; border-radius: 50%; width: 40px; height: 40px; }
ul { list-style-image: url(../i/ul.png); }

/* General classes */
.alt { display: none; }
.left { float: left; }
.right { float: right; }
.inline { display: inline-block; }
.clear { clear: both; display: block; }
.align-center { text-align: center; }
.align-left { text-align: left; }
.align-right { text-align: right; }
.full { width: 100%; }
.half { width: 50%; }
.one-third { width: 33%; }
.two-thirds { width: 66%; }
.one-third { width: 33%; }
.two-thirds { width: 66%; }
.one-fourth { width: 25%; }
.two-fourths { width: 50%; }
.three-fourths { width: 75%; }
.one-fifth { width: 20%; }
.two-fifths { width: 40%; }
.three-fifths { width: 60%; }
.four-fifths { width: 80%; }
.two-columns { columns: 2; -moz-columns: 2; }

.hover:hover { background-position: 0 bottom !important; }
.hover.hover-fade:hover { position: relative; background-position: 0 bottom !important; }
.hover.hover-fade:before, .hover.hover-fade:after { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-image: inherit; }
.hover.hover-fade:after { opacity: 0; filter: alpha(opacity=0); background-position: 0 bottom; transition: 1s; -moz-transition: 1s; -webkit-transition: 1s; -ms-transition: 1s; -o-transition: 1s; }
.hover.hover-fade:hover:after { opacity: 1; filter: alpha(opacity=100); }

.fb-like-box { min-height: 290px; }

/* Buttons */
.button { display: block; cursor: pointer; margin: 20px; text-align: center; font-size: 16px; font-family: 'Bree serif', Times, serif; text-transform: uppercase; color: white; padding: 15px 30px; border: none; border-radius: 3px; text-shadow: 0px 1px 0px #4f9a2c; box-shadow: inset 0px 1px 0px rgba(255,255,255,0.28), 0px 0px 0px 1px #5ba638; -webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.28), 0px 0px 0px 1px #5ba638; -o-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.28), 0px 0px 0px 1px #5ba638; -moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.28), 0px 0px 0px 1px #5ba638; -ms-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.28), 0px 0px 0px 1px #5ba638; background-color: #71bf4d; }
.button:hover { background-color: #7ecd59; border: none; }
.button.danger { text-shadow: 0px 1px 0px #b46b39; box-shadow: inset 0px 1px 0px #e89b65, 0px 0px 0px 1px #b66f3d; -webkit-box-shadow: inset 0px 1px 0px #e89b65, 0px 0px 0px 1px #b66f3d; -o-box-shadow: inset 0px 1px 0px #e89b65, 0px 0px 0px 1px #b66f3d; -moz-box-shadow: inset 0px 1px 0px #e89b65, 0px 0px 0px 1px #b66f3d; -ms-box-shadow: inset 0px 1px 0px #e89b65, 0px 0px 0px 1px #b66f3d; background-color: #d58751; }
.button.danger:hover { background-color: #e4955d; }
.button.blue { box-shadow: inset 0px 1px 0px rgba(255,255,255,0.28), 0px 0px 0px 1px #17316a; -webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.28), 0px 0px 0px 1px #17316a; -o-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.28), 0px 0px 0px 1px #17316a; -moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.28), 0px 0px 0px 1px #17316a; -ms-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.28), 0px 0px 0px 1px #17316a; background-color: #3b5997; }
.button.blue:hover { background-color: #4064AA; }
.button.lagoon { box-shadow: inset 0px 1px 0px rgba(255,255,255,0.28), 0px 0px 0px 1px #007fb1; -webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.28), 0px 0px 0px 1px #007fb1; -o-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.28), 0px 0px 0px 1px #007fb1; -moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.28), 0px 0px 0px 1px #007fb1; -ms-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.28), 0px 0px 0px 1px #007fb1; background-color: #00abed; }
.button.lagoon:hover { background-color: #24bdf8; }
.button.inline { display: inline-block; margin: 5px; }
.button.large { font-size: 24px; padding: 20px 40px; }
.battery { display: inline-block; }
.battery .button { display: table-cell; border-radius: 0; }
.battery .button:last-child { border-radius: 0 3px 3px 0; }
.battery .button:first-child { border-radius: 3px 0 0 3px; }

/* Process vizualisation */
.process { list-style: none; text-align: center; display: table; }
.process li { position: relative; display: table-cell; padding-right: 41px; /*background: url(../i/step-arrow.png) no-repeat right 15%; */}
.process li:last-child { padding-right: 0; background: none; }
.process li .illustration { height: 195px; line-height: 200px; }
.process li .illustration img { max-width: 100%; vertical-align: middle; }
.process li p { text-align: center; }

/* Gallery */
.gallery { text-align: center; text-align: center; }
.gallery .thumbnail { display: inline-block; margin: 10px; vertical-align: middle; }
.gallery .thumbnail img { max-width: 100%; max-height: 100%; }
.gallery .thumbnail a:hover { border: none; }

/* Contact form */
form.contact { position: relative; }
form.contact label { text-align: left; display: block; margin: 10px 0 5px; }
form.contact input[type=text] { font-family: 'Open sans', Arial, sans-serif; line-height: 1.3; font-size: 16px; color: #282828; width: 100%; height: 30px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box; border: 1px solid #aaaaaa; }
form.contact textarea { font-family: 'Open sans', Arial, sans-serif; font-size: 16px; line-height: 1.3; color: #282828; width: 100%; height: 200px; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -o-box-sizing: border-box; resize: vertical; border: 1px solid #aaaaaa; }
form.contact input.button { width: 100%; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; }
form.contact .errors { list-style: none; color: #aa0000; }
form.submitted:after { content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(../i/loader.gif) no-repeat center center; }
form.submitted input[type=text] { background: #fafafa; }
form.submitted textarea { background: #fafafa; }

/* Nette flash messages */
#flashes { display: none; }

/* Main header and navigation */
header.main { z-index: 950; position: fixed; top: 0; left: 0; width: 100%; height: 120px; background: #f0e5c9 url(../i/zelenina-mono.png) repeat-x center 0px; }
header.main h1 { position: absolute; z-index: 970; bottom: 20px; left: 50%; margin-left: -420px; width: 58px; height: 57px; }
header.main h1 img { position: relative; top: 10px; }
header.main h1 a:hover { border: none; }

header.main nav { position: absolute; left: 50%; width: 890px; margin-left: -354px; bottom: 25px; font-size: 14px; }
header.main nav a { display: inline-block; margin: 0 14px; color: #9c8b61; }
header.main nav a:hover { color: #7a6e4f; border-bottom: 1px dashed #7a6e4f; margin-bottom: -1px; }
header.main nav a.sign-in { position: fixed; top: 0; left: 50%; margin-left: 385px; background: #a2926a; color: #f0e5c9; padding: 7px 15px; border-radius: 0 0 3px 3px; }
header.main nav a.sign-in:hover { border: none; background: #85754c; }

header.main .social { position: fixed; top: 150px; left: 50%; margin-left: -620px; }
header.main .social a { border: none; }
header.main .addthis_floating_style { position: static; width: 90px; min-height: 201px; border-radius: 6px; background: none; padding-top: 10px; padding-bottom: 12px; border: 1px dashed rgba(0,0,0,0.3); }
header.main .addthis_floating_style.addthis_counter_style .addthis_internal_container { width: 90px; text-align: center; }
header.main .addthis_counter .addthis_button_expanded { margin: 0 auto; }
header.main .addthis_counter a.atc_s { margin: 0 auto; }
header.main a.at300b:hover { opacity: 1; }

/* Main content sections, general rules */
.wrapper { min-width: 960px; overflow: hidden; }

section.main { position: relative; clear: both; margin-bottom: 270px; padding-top: 60px; /* padding compensates the fixed navigation on top for # anchors */ width: 960px; margin-left: auto; margin-right: auto; }
section.main:after { content: ''; background: url(../i/zelenina-white.png) no-repeat; width: 1721px; height: 303px; position: absolute; bottom: -323px; left: 50%; margin-left: -860px; }
section.main:last-of-type { margin-bottom: 70px; }
section.main:last-of-type:after { content: none; }
section.main.force-divider:last-of-type { margin-bottom: 270px; }
section.main.force-divider:last-of-type:after { content: ''; }
section.main.emphasized { width: 100%; background: #f0e5c9; margin-bottom: -50px; }
section.main.emphasized:after { content: none; }

section.main aside { padding: 20px; border: 1px dashed #ccc; border-radius: 3px; margin: 0 30px 30px; background: url(../i/zelenina-gray.png); }
section.main aside.full { margin-left: 0; margin-right: 0; width: 920px; }
section.main aside.left { margin-left: 0; }
section.main aside.right { margin-right: 0; }
section.main aside h3 { font-family: 'Bree serif', Times, serif; font-size: 22px; color: #574e4a; margin: 0 0 5px; }
section.main aside.request {  }
section.main aside.request-simple { text-align: center; }
section.main aside.request-simple p { text-align: center; }
section.main .request h3.center { margin-top: 180px; }

/* Detailed custom rules per section */
#perex { overflow: hidden; padding: 140px 0 150px; background-image: url(../i/zelenina-mono.png); background-repeat: repeat-x; background-position: center top; }
#perex h2 { font-size: 60px; text-align: center; margin-bottom: 0px; font-weight: normal; }
#perex p.claim { font-size: 22px; color: #79685d; text-align: center; margin-top: 0; margin-bottom: 60px; }
#perex nav.quick { margin: 30px auto; text-align: center; }
#perex nav.quick .battery .button { width: 240px; }
#perex nav.quick .more { display: block; font-weight: bold; margin: 30px 0; }
#perex nav.quick .more a { display: inline-block; font-family: 'Open sans', Arial, sans-serif; text-transform: none; padding: 12px 30px; border: 1px dashed #9c8b61; color: #9c8b61; border-radius: 3px; }
#perex nav.quick .more a:hover { background-color: #f9f0d8; }
#perex .content { position: relative; z-index: 100; }
#perex .vegetables { position: absolute; z-index: 10; left: 0; bottom: -170px; width: 100%; height: 536px; background-image: url(../i/zelenina.png); background-position: center top; background-repeat: repeat-x; }

#co-je-vypestuj-dobro .process h4 { text-wrap: none; }

#zakladatel .photo { width: 100%; }

#kontakt aside.request { min-height: 442px; }

#ako-mozem-pomoct .request.help-supply .button { margin-top: -12px; }
#ako-mozem-pomoct .request.help-other .button { margin-top: -14px; }
#ako-mozem-pomoct .social aside { margin-left: 70px; }

#partneri ul { margin: 0; }
#partneri ul li { margin-top: 0; margin-bottom: 15px; }
#partneri .gallery  { line-height: 120px; }
#partneri .gallery .thumbnail { min-width: 100px; height: 70px; margin: 20px 30px; }

/* Popups general */
.popup .fade { position: fixed; width: 100%; height: 100%; top: 0; left: 0; z-index: 1100; background: black; opacity: 0.75; }
.popup .content { position: fixed; top: 50%; left: 50%; z-index: 1150; padding: 30px 30px; background: url(../i/zelenina-gray.png); border-radius: 5px; border: 1px dashed #ccc; text-align: center; }
.popup .content h3 { font-family: 'Bree serif', Times, serif; font-size: 20px; color: #574e4a; margin: 0 0 20px; }
.popup .content p { text-align: center; }
.popup .content .close { position: absolute; top: 15px; right: 15px; width: 12px; height: 12px; background: url(../i/close.png) no-repeat left top; }
.popup .content .close:hover { border: none; }

/* Popups custom */
.popup.contact .content { width: 400px; margin-left: -230px; margin-top: -232px; }