<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

        {include 'Includes/meta.latte' }

        <title>{$title}</title>

        <link rel="stylesheet" media="all" href="{$basePath}/css/reset.css" type="text/css">

        <link rel="shortcut icon" href="{$basePath}/i/favicon.png" type="image/x-icon">

        <!--[if lt IE 9]>
            <script src="{$basePath}/lib/html5shiv/html5.js"></script>
        <![endif]-->
        <script type="text/javascript" src="{$basePath}/lib/css-browser-selector/css_browser_selector.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
        <script type="text/javascript" src="{$basePath}/lib/nette-libs/netteForms.min.js"></script>
        <script type="text/javascript" src="{$basePath}/lib/nette-libs/jquery.nette.min.js"></script>

        {include 'Includes/javascript.latte' }

        {control js 'global.js'}

	{block head}{/block}

        {include 'Includes/analytics.latte' }

    </head>
    <body>

        {include 'Includes/facebook.latte' }

        <ul id="flashes" >
            <li n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</li>
        </ul>

	{include #body}

    </body>
</html>
