{layout '../@layout.latte'}

{block head}

    <link href='//fonts.googleapis.com/css?family=Open+Sans:300,600&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Bree+Serif&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

    {control css 'global.css'}

{/block}

{block body}


<header class="main" >

    <h1><a href="#perex" ><img src="{$basePath}/i/logo-small.png" alt="Vypestuj dobro" /></a></h1>

    <nav class="main">
        <a href="#co-je-vypestuj-dobro" >O projekte</a>
        <a href="#komu-je-pomoc-urcena" >Komu je pomoc určená?</a>
        <a href="#ako-mozem-pomoct" >Ako môžem pomôcť?</a>
        <a href="#zberne-miesta" >Zberné miesta</a>
        <a href="#kontakt" >Kontakt</a>
        <a href="#partneri" class="extra" >Partneri</a>
        <a href="#" class="sign-in" >Prihlásenie</a>
    </nav>

    <div class="social" >

        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_floating_style addthis_counter_style" >
        <a class="addthis_button_facebook_like" fb:like:layout="box_count"></a>
        <a class="addthis_button_tweet" tw:count="vertical"></a>
        <a class="addthis_counter"></a>
        </div>
        <script type="text/javascript" >
            var addthis_share = {
               url: {link //default}
            }
        </script>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50a611630ab97019"></script>
        <!-- AddThis Button END -->

    </div>

</header>

{include #content}