{block head}
    {include #parent}

    <script type="text/javascript" src="{$basePath}/lib/nette-libs/jquery.ajaxform.min.js" ></script>

{/block}

{block content}

<div class="wrapper" >

    {include 'sections/perex.latte'}
    {include 'sections/coJeVypestujDobro.latte'}
    {include 'sections/komuJePomocUrcena.latte'}
    {include 'sections/akoMozemPomoct.latte'}
    {snippet contact}
        {include 'sections/kontakt.latte'}
    {/snippet}
    {include 'sections/partneri.latte'}

</div>


{* Popups *}
{snippet popups}

    {ifset $contact}

            <section class="popup contact" >
                <div class="content" >
                    <a n:href="default" class="close hover ajax" ></a>

                    {include 'includes/contactForm.latte' subject => $contact }

                </div>
                <a n:href="default" class="fade ajax" ></a>
            </section>

    {/ifset}

{/snippet}
