<style type="text/css" >

    .mw-translator .mw-translator-tools-editing,
    .mw-translator .mw-translator-tools-remove {
        display: none;
    }

</style>

<script type="text/javascript" >

    $(function(){
        MwTranslator.init({$actualSectionName});
    });

    MwTranslator = {
        saveUrl: {link //saveSource!},
        removeUrl: {link //removeSource!},
        section: null,
        init: function(section){

            var self = this;

            this.section = section;

            if (typeof $.nette.success == 'undefined')
                alert('Missing required jquery.nette.js. Visit http://addons.nette.org/cs/jquery-ajax for more.');

            $('.mw-translator-edit').live('click', function(event){
                event.preventDefault();
                self.handleEdit.call(self, this, event);
            });

            $('.mw-translator-remove').live('click', function(event){
                event.preventDefault();
                self.handleConfirmRemove.call(self, this, event);
            });

            $('.mw-translator-confirm-remove').live('click', function(event){
                event.preventDefault();
                self.handleRemove.call(self, this, event);
            });

            $('.mw-translator-save').live('click', function(event){
                event.preventDefault();
                self.handleSave.call(self, this, event);
            });

            $('.mw-translator-discard').live('click', function(event){
                event.preventDefault();
                self.handleDiscard.call(self, this, event);
            });
        },
        handleEdit: function(target, event){

            var value = $(target).parents('.mw-translator td.actions').siblings('td.value');
            value.attr('data-original-value', value.text()).html($('<textarea />').css('width', '100%').val($.trim(value.text())));

            $(target).parent().hide();
            $(target).parent().siblings('.mw-translator-tools-editing').show();

        },
        handleConfirmRemove: function(target, event){

            $(target).parent().hide();
            $(target).parent().siblings('.mw-translator-tools-remove').show();

        },
        handleRemove: function(target, event){

            var key = $(target).attr('data-key');

            $.get(this.removeUrl, {
                key: key,
                section: this.section
            });

        },
        handleSave: function(target, event){

            var value = $(target).parents('.mw-translator td.actions').siblings('td.value');
            var string = value.find('textarea').val();
            var key = $(target).attr('data-key');

            $.get(this.saveUrl, {
                key: key,
                value: string,
                section: this.section
            });

        },
        handleDiscard: function(target, event){

            var value = $(target).parents('.mw-translator td.actions').siblings('td.value');
            if (value.find('textarea').length)
                value.html(value.attr('data-original-value'));

            $(target).parent().hide();
            $(target).parent().siblings('.mw-translator-tools-idle').show();

        }
    };

</script>

<ul n:inner-foreach="$sourceNames as $sectionName" class="nav nav-tabs" >
    <li n:class="$sectionName == $actualSectionName ? active" >
        <a href="{plink this, mw-section => $sectionName}" >{$sectionName}</a>
    </li>
</ul>

{snippet mw_translator}

    <table n:if="$actualSectionName" class="mw-translator table table-striped" >
        <tbody>
            <tr n:foreach="$source[$actualSectionName] as $key => $value">
                <td class="key span4"><strong>{!$key|trim}</strong></td>
                <td class="value span6">{$value|trim}</td>
                <td class="actions span2">
                    <div class="btn-group mw-translator-tools-empty"></div>
                    <div class="btn-group mw-translator-tools-idle">
                        <a href="#" data-key="{$key}" class="btn btn-primary mw-translator-edit" ><i class="icon-pencil icon-white"></i></a>
                        <a href="#" data-key="{$key}" class="btn btn-danger mw-translator-remove" ><i class="icon-trash icon-white"></i></a>
                    </div>
                    <div class="btn-group mw-translator-tools-remove">
                        <a href="#" data-key="{$key}" class="btn btn-danger mw-translator-confirm-remove" ><i class="icon-ok icon-white"></i></a>
                        <a href="#" data-key="{$key}" class="btn mw-translator-discard" ><i class="icon-remove"></i></a>
                    </div>
                    <div class="btn-group mw-translator-tools-editing">
                        <a href="#" data-key="{$key}" class="btn btn-success mw-translator-save" ><i class="icon-ok icon-white"></i></a>
                        <a href="#" data-key="{$key}" class="btn mw-translator-discard" ><i class="icon-remove"></i></a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

{/snippet}