{layout '../@layout.latte'}

{block head}

        <link rel="stylesheet" media="all" href="{$basePath}/css/global.css" type="text/css">
        <link rel="stylesheet" media="all" href="{$basePath}/css/facebook.css" type="text/css">
        
{/block}

{block body}

{include #content}

<footer class="disclaimer">
    <p class="legal" >
        {_'Táto súťaž nie je žiadnym spôsobom sponzorovaná, schválená, spravovaná alebo inak prepojená so spoločnosťou Facebook. Vaše údaje poskytujete prevádzkovateľovi aplikácie a nie spoločnosti Facebook. Vami poskytnuté údaje budú použité iba za účelom realizácie aplikácie v zmysle Zákona o ochrane osobných údajov - Zákon č. 428/2002 Z. z.'}
        (<a target="_blank" href="http://files.zaraguza.com/zaraguza/facebook/privacy-policy.pdf">{_'Zásady ochrany súkromia'}</a>)
    </p>
    <p class="zaraguza">
        {_'Created by'} <a href="http://www.zaraguza.com" target="_blank" ><img src="{$basePath}/i/enter.png" alt="&crarr;" style="margin-left: 2px;" /> {_'Zaraguza'}</a>
    </p>
</footer>