﻿<section id="ako-mozem-pomoct" class="main" >

    <h2>Ako môžem pomôcť?</h2>

    <aside class="request request-simple two-fifths right" >

        <h3>Chcete sa stať Dobrým pestovateľom?</h3>

        <a n:href="napisteNam 'farmer'" class="button ajax" >Napíšte nám</a>

        <strong>Telefonicky:</strong> 0907 706 104<br />
        <strong>Poštou:</strong> Vypestuj Dobro, Tajovského 19, 81104&nbsp;Bratislava<br />
        <strong>E-mailom:</strong>  <a href="mailto:info@vypestujdobro.sk?subject=Registrácia Dobrého pestovateľa" >info@vypestujdobro.sk</a>

        <p>
            V prípade, že máte ďalšie otázky, radi vám ich zodpovieme.
        </p>

    </aside>

    <h3>Staňte sa Dobrým pestovateľom</h3>

    <ol>
        <li>
            Napíšte nám a zaregistrujte sa ako Dobrý pestovateľ do programu Vypestuj Dobro.
        </li>
        <li>
            Dopestujte zeleninu alebo ovocie, ktoré chcete venovať ľuďom v núdzi.
        </li>
        <li>
            Svoje výpestky zanesiete priamo jednej z rodín blízko vašej záhradky, ktoré spadajú medzi schválených príjemcov pomoci nášho občianskeho združenia.
            Ak vo vami dostupnej vzdialenosti nebudeme mať vhodného príjemcu, prevoz úrody Vám pomôžeme vyriešiť.
        </li>
    </ol>


    <hr />

    <a name="zberne-miesta" ></a>

    <h3>Externí kontaktní spolupracovníci</h3>

    <p>
        V prípade, že vám nevieme e-mailom poskytnúť kontakt na konkrétneho schváleného príjemcu podpory vo vašom okolí, zabezpečíme distribúciu vami vypestovaných produktov v spolupráci s našimi externými spolupracovníkmi.
        Sú to dobrovoľníci z 38 miestnych organizácii Slovenského červeného kríža, sociálni pracovníci obecných úradov, alebo pracovníci lokálnych neziskových organizácií, ktorí pracujú s rodinami s deťmi v kríze alebo so starými ľuďmi. Komunikujeme tiež s pracovníkmi Call centra sociálnej pomoci Slovenského Červeného kríža, ktorí nám vedia veľmi rýchlo pomôcť s vyhľadaním vhodného príjemcu. Samozrejme, ak dodávka Vášho ovocia či zeleniny bude vykonaná externým spolupracovníkom, ako darca dostanete ihneď potvrdenie o poskytnutom objeme Vášho daru a budete v blízkom čase tiež budete informovaný o rodine alebo organizácii, ktorá Vašu pomoc nakoniec obdržala. Konečný príjemca pomoci musí tiež potvrdiť podpisom príjem rovnakého množstva plodín, ako ste darovali.
    </p>

    <p>
        Riešili sme už dodávku zeleniny a ovocia v Prešove, Liptovskom Mikuláši, Bratislave a rozpracované máme ďalšie dodávky v Banskej Bystrici, Nitre, Prešove, Svätom Petri, Ilave, Prievidzi, Žiline, Košiciach, Leviciach, Štúrove, Necpaloch, Borskom Mikuláši, Veľkých Úľanoch, Novom Meste nad Váhom, Zvolene a Rohožníku. Čím skôr budeme vedieť aj o vašej možnej dodávke zeleniny a ovocia, budeme si vedieť včas dohodnúť ďalší postup.
    </p>

    <aside class="request help-supply full" >

        <h3>Navrhnite kontaktnú osobu alebo organizáciu</h3>

        <a n:href="napisteNam 'supply'" class="button right one-third ajax" >Napíšte nám</a>

        <strong>Telefonicky:</strong> 0907 706 104<br />
        <strong>Poštou:</strong> Vypestuj Dobro, Tajovského 19, 81104&nbsp;Bratislava<br />
        <strong>E-mailom:</strong>  <a href="mailto:info@vypestujdobro.sk?subject=Návrh kontaktnej osoby" >info@vypestujdobro.sk</a>

    </aside>

    <p>
        Existuje veľa dobrých ľudí, lokálnych neziskových organizácií, o ktorých možno nevieme a možno by nám vedeli pri našich aktivitách podať pomocnú roku. Pošlite nám tip na ne a aj s Vašou pomocou tak zabezpečíme maximálnu decentralizáciu rozhodovania o výbere príjemcov pomoci a distribúcie poľnohospodárskych výpestkov k nim. Nemáme záujem vytvárať nejaké centralizované miesta, kde by sa výpestky skladovali a mohli by sa objavovať akékoľvek aj drobné pochybnosti o možnosti zneužitia nášho programu. Tak, ako si želáme, aby darcov bolo čo najviac, tak chceme, aby o príjemcoch pomoci rozhodovali zodpovední a čestní ľudia, ktorí sú k nim čo najbližšie.
    </p>


    <hr />

    <h3>Chcem pomáhať, ale nie som pestovateľ</h3>

    <p>
        Zaujal vás náš projekt a radi by ste pomohli, no nemáte možnosť poskytnúť vypestované potraviny? Vypestovať dobro môžete aj nepriamo. Aktuálne potrebujeme pomoc najmä od:
    </p>

    <ul>
        <li>
            <h4>Dobrovoľníkov, ktorí budú program organizovať na miestnej úrovni</h4>
            <p>
                V najlepšom prípade s kontaktom na miestnu záhradkársku komunitu. <br />
            </p>
        </li>
        <li>
            <h4>Partnerov pre príjem a distribúciu potravín</h4>
            <p>
                Aktívny dobrovoľník v rámci miestnej funkčnej neziskovej organizácie, ktorý bude vydávať potvrdenia o daroch pestovateľov a bude v kontakte s odsúhlasenými príjemcami resp. schvaľovateľmi príjemcov pomoci.
            </p>
        </li>
        <li>
            <h4>Novinárov a mediálnych partnerov</h4>
            <p>
                Ľudí a spoločnosti, ktoré budú ochotné o programe napísať článok napríklad do miestnych novín. Veľmi významne tak môžu pomôcť nielen rozšíriť rady Dobrých pestovateľov, ale aj nájsť nových príjemcov potravín.
            </p>
        </li>
        <li>
            <h4>Veľkých spoločností, pôsobiacich v záhradníckej oblasti</h4>
            <p>
                Radi by sme v rámci propagácie programu na záhradkárskych výstavách či miestnych jarmokoch podporili nových účastníkov programu drobným sponzorským „štartovacím balíčkom“, ktorý by mohol obsahovať vzorku semien zeleniny, vzorku hnojiva alebo jednoduché plastové označovače hriadok vyčlenených na tento program. Privítame pomoc najmä od výrobcov hnojív, substrátov, semien, či záhradníckych pomôcok.
            </p>
        </li>
        <li>
            <h4>Programátorov a webdizajnérov</h4>
            <p>
                Odborníci, ktorí dokážu realizovať naše plány na automatizáciu aktivít programu, aby na jeho administratívu bolo potrebné čo najmenšie množstvo ľudskej práce a aby sa v maximálne možnej miere zabezpečila transparentnosť programu od darcov až po príjemcov.
            </p>
        </li>
    </ul>

    <aside class="request help-other full" >

        <h3>Chcete sa zapojiť do projektu?</h3>

        <a n:href="napisteNam 'support'" class="button right one-third ajax" >Napíšte nám</a>

        <strong>Telefonicky:</strong> 0907 706 104<br />
        <strong>Poštou:</strong> Vypestuj Dobro, Tajovského 19, 81104&nbsp;Bratislava<br />
        <strong>E-mailom:</strong>  <a href="mailto:info@vypestujdobro.sk?subject=Chcem sa zapojiť" >info@vypestujdobro.sk</a>

    </aside>


    <hr />


    <div class="social" >

        <h3 class="h2" >Šírte dobro ďalej!</h3>

        <aside class="left half" >
            <div class="fb-like-box" data-href="https://www.facebook.com/VypestujDobro" data-width="480" data-show-faces="true" data-stream="false" data-header="true" ></div>
        </aside>

        <p class="actions" >
            <a href="#" class="facebook-share button share blue one-fifth inline" data-url="{link //default}" >Zdieľať na Facebooku</a>
            <a href="#" class="twitter-share button share lagoon one-fifth inline" data-text="Pomôžte kúskom svojej úrody ľuďom v ťažkej situácii." data-url="{link //default}" >Zdieľať cez Twitter</a>
            <a href="mailto:?subject=Vypestujme spoločne dobro&body=http://www.vypestujdobro.sk/" class="button share email one-fifth inline" >Poslať na email</a>
        </p>

    </div>

    <br class="clear" />

</section>
