﻿<section id="co-je-vypestuj-dobro" class="main" >

    <h2>Čo je Vypestuj Dobro?</h2>

    <ul class="process" >
        <li>
            <div class="illustration" >
                <img src="{$basePath}/i/step-register.png" alt="" />
            </div>
            <h4>1. Registrácia pestovateľov</h4>
            <p>
                Dobrí pestovatelia <a href="#ako-mozem-pomoct" >sa zaregistrujú</a> na našich stránkach a dopestujú pár kusov zeleniny, či ovocia navyše.
            </p>
        </li>
        <li>
            <div class="illustration" >
                <img src="{$basePath}/i/step-vegetables.png" alt="" />
            </div>
            <h4>2. Odovzdanie úrody</h4>
            <p>
                Počas sezóny odovzdajú pestovatelia časť svojej úrody priamo schválenej rodine alebo nášmu najbližšiemu <a href="#zberne-miesta" >externému spolupracovníkovi</a> vo svojom okolí.
            </p>
        </li>
        <li>
            <div class="illustration" >
                <img src="{$basePath}/i/step-truck.png" alt="" />
            </div>
            <h4>3.&nbsp;Prerozdelenie&nbsp;ľuďom&nbsp;v&nbsp;núdzi</h4>
            <p>
                Dary od Dobrých pestovateľov prerozdelíme do posledného gramu schváleným <a href="#komu-je-pomoc-urcena" >žiadateľom o pomoc</a>.
            </p>
        </li>
        <li>
            <div class="illustration" >
                <img src="{$basePath}/i/step-heart.png" alt="" />
            </div>
            <h4>4. Sledovanie pomoci</h4>
            <p>
                Každý Dobrý pestovateľ získa informáciu o tom, komu jeho príspevok pomohol.
            </p>
        </li>
    </ul>


    <hr />


    <p>
        Cieľom projektu <strong>Vypestuj Dobro</strong> je sezónnou dodávkou čerstvého ovocia a zeleniny podporiť deti a starých ľudí, ktorým klasická rodina nedokáže pomôcť. Títo ľudia nemajú pozitívnu predstavu o fungovaní rodiny a priateľské gesto cudzieho človeka v nich môže vyvolať pocit, že nie sú na tomto svete sami a že niekomu na nich záleží.
    </p>
    <p>
        Keď podobný systém začínal v USA a v Kanade, nikto nevedel, ako sa uchytí medzi ľuďmi. Ale ujal sa. Na Slovensku sa nám podarilo v roku 2013 sprostredkovať <strong>približne 1012 kg čerstvého ovocia a zeleniny, čo predstavuje viac ako 2530 odporúčaných denných dávok dospelého človeka</strong>. Podarí sa nám s vašou pomocou prekonať hranicu 2000 kg v druhom roku našej činnosti?
    </p>

</section>
