﻿<section id="komu-je-pomoc-urcena" class="main" >

    <h2>Komu je pomoc určená?</h2>

    <aside class="request request-simple two-fifths right" >

        <h3>Chcete požiadať o potravinovú pomoc?</h3>

        <a n:href="napisteNam 'help'" class="button ajax" >Napíšte nám</a>

        <strong>Telefonicky:</strong> 0907 706 104<br />
        <strong>Poštou:</strong> Vypestuj Dobro, Tajovského 19, 81104&nbsp;Bratislava<br />
        <strong>E-mailom:</strong> <a href="mailto:dobro@vypestujdobro.sk?subject=Žiadosť o potravinovú pomoc" >dobro@vypestujdobro.sk</a>

        <p>
            Každá žiadosť bude posudzovaná individuálne. Na pomoc nie je právny nárok. Konkrétna pomoc vždy závisí od existencie darcu v lokalite potenciálneho príjemcu.
        </p>

    </aside>

    <ul>
       
        <li>rodičom s finančnými problémami starajúcim sa o deti bez druhého rodiča</li>
  <li>deťom na polceste medzi detskými domovmi a úplným osamostatnením</li>
        <li>starým rodičom, ktorí sa starajú o vnúčatá, ak sa o ne nevedia či nechcú postarať vlastní rodičia</li>
        <li>starým ľuďom v domovoch dôchodcov, ktorí nemajú žijúce deti resp. žijúce deti nimi opovrhujú</li>
    </ul>

    <hr />

    <h3>Kto vyberá príjemcov pomoci?</h3>

    <p>
        Príjemcov pomoci vyhľadávame spolu so sociálnymi pracovníkmi obecných úradov, riaditeľmi a dobrovoľníkmi zariadení núdzového bývania, Slovenského Červeného kríža a iných neziskových organizácií. Záverečný výber príjemcov robia vždy iba tí, ktorí sú s príjemcami pomoci v každodennom kontakte a poznajú ich sociálnu situáciu.
    </p>


</section>
