﻿<section id="kontakt" class="main force-divider" >

    <h2>Kontakt</h2>

    <aside class="request request-simple half left" >

        {include '../includes/contactForm.latte' headline => 'Rýchla správa' }

    </aside>


    <h3>
        Poštová adresa 
    </h3>
    <p>
        Vypestuj Dobro, o.z.<br />
        Tajovského 19<br />
        811 04 Bratislava
    </p>

    <h3>
        E-mail
    </h3>
    <p>
        Informácie<br />
        <a href="mailto:info@vypestujdobro.sk" >info@vypestujdobro.sk</a><br />
    </p>
    <p>
        Príjem žiadostí o potravinovú pomoc<br />
        <a href="mailto:dobro@vypestujdobro.sk?subject=Žiadosť o potravinovú pomoc" >dobro@vypestujdobro.sk</a>
    </p>

    <h3>Telefonický kontakt</h3>
    <p>
        0907 706 104
    </p>

    <h3>Výkonný riaditeľ</h3>
    <p>
        Ing. Erich Seemann<br />
        <a href="mailto:seemann@vypestujdobro.sk" >seemann@vypestujdobro.sk</a>
    </p>


    <hr />


    <p>
         Občianske združenie Vypestuj Dobro bolo registrované na Ministerstve vnútra SR dňa 21.2.2013 a bolo mu pridelené IČO 42269512.
    </p>

    <p>
         Činnosť občianskeho združenie je financovaná zo súkromných zdrojov výkonného riaditeľa a z príspevkov darcov. V prípade, že je Vám činnosť občianskeho združenia Vypestuj Dobro sympatická, nemáte žiaden prebytok úrody na záhrade alebo balkóne, a predsa len by ste jeho ciele radi nejako podporili, kontaktujte nás.<br />
         Za akúkoľvek aj symbolickú psychickú podporu úprimne ďakujeme.
    </p>

    

    <hr />


    <h3 class="h2" >Zakladatelia</h3>

    <aside class="one-fourth left" >
        <h3>Ing. Erich Seemann</h3>

        <p>
            narodený 18.8.1975 v Bratislave
        </p>

        <img src="{$basePath}/i/erich.jpg" class="photo" alt="Erich Seemann" />

    </aside>

    <ul>
        <li>Vyštudoval Fakultu podnikového manažmentu Ekonomickej univerzity v Bratislave.</li>
        <li>Absolvoval ročné štúdium na École de Commerce et de Gestion v Orléans vo Francúzsku.</li>
        <li>Päť mesiacov stážoval v DG Enterprise v Európskej komisii v Bruseli.</li>
        <li>Pracoval pre cestovnú agentúru MTA a Národnú agentúru pre rozvoj malého a stredného podnikania.</li>
        <li>V roku 2001 založil firmu Ing. Erich Seemann – Flora Exotika, ktorá sa zaoberá zásielkovým predajom a servisom rastlinného materiálu a interiérovej a exteriérovej zelene.</li>
        <li>Prevádzkuje internetové záhradníctvo RASTLINKY.SK </li>
          </ul>

    <p class="quote clear" >
        Náhodnou súhrou rôznych neočakávaných životných skúseností som si ujasnil priority, ktoré mám v živote. Pochopil, že mám skutočne dobrý pocit z pomoci ľuďom, ktorým iní neprávom ubližujú, že sa oplatí držať svojich zásad a mať obojstranne vyrovnaný vzťah s ľuďmi, na ktorých mi naozaj záleží. Stotožňujem sa s myšlienkou filmu „Pošli to ďalej“, že aj drobnými dobrými skutkami pre druhých ľudí je možné zmeniť spoločnosť, v ktorej žijeme a že človek sa nesmie vzdať, ak mu niekto hádže polená pod nohy. Už dávnejšie som uvažoval nad nejakou aktivitou, pomocou ktorej by som mohol svojimi kapacitami, znalosťami, schopnosťami prispieť k rozvoju občianskej spoločnosti u nás a odvďačiť sa tak svojmu okoliu za to, čo som od neho získal a čo mi v súčasnosti umožňuje. Program Vypestuj Dobro tieto moje túžby napĺňa a verím, že sa nám ho spolu s inými podobne zmýšľajúcimi ľuďmi podarí dobre rozbehnúť.
    </p>

    <hr />
    
    <aside class="one-fourth left" >
        <h3>Mgr. Barbora Michnová</h3>

        <p>
            narodená 2.1.1980
        </p>

        <img src="{$basePath}/i/barbora.jpg" class="photo" alt="Barbora Michnová" />

    </aside>
        
    <ul>
        <li>Vyštudovala na Prírodovedeckej fakulte Univerzity Karlovej v Prahe.</li>
        <li>Zúčastnila sa viacerých zahraničných dobrovolníckych pobytoch, ktoré mali za cieľ prispieť k výskumu a ochrane korytnačiek na Kréte či v Mexiku.</li>
        <li>Pracovala v prekladateľskej agentúre v Prahe.</li>
        <li>V súčasnosti je učiteľkou v anglickej materskej škole v Bratislave.</li>
        <li>Po predstavení myšlienky projektu Vypestuj Dobro ani chvíľu neváhala a rozhodla sa ho podporiť.</li>
    </ul>

    <p class="quote" >
        Prečo práve Vypestuj Dobro? Každý záhradkár, medzi ktorých sa radím aj ja s mojou rodinou, má dobrý pocit, ak jeho láskavá starostlivosť plodí zdravú a chutnú úrodu. A o čo väčšia môže byť táto radosť, keď chuť šťavnatých plodov vyčarí úsmev na tvári obdarovaných. Tieto malé farebné a voňavé radosti môžu pomôcť ľuďom v núdzi prekonať ich starosti o najbližších a dodať im silu na krajšie zajtrajšky. Obdarovaným prajem dobrú chuť a všetkým dobrým pestovateľom zo srdca ďakujem. :-)
    </p>

    <hr />
    
    <aside class="one-fourth left" >
        <h3>Ing. Peter Szuttor</h3>

        <p>
            narodený 31.8.1975
        </p>

        <img src="{$basePath}/i/peto.jpg" class="photo" alt="Peter Szuttor" />

    </aside>
        
    <ul>
     <li> Vyštudoval na Národohospodárskej fakulte Ekonomickej univerzity v Bratislave</li>
  <li> V súčasnosti pracuje ako marketingový manažér v nadnárodnej spoločnosti v Bratislave</li>
        <li> Prácu v „biznis“ prostredí si kompenzuje športom a potulkami po prírode</li>
        
    </ul>

    <p class="quote" >
        Dobrovoľníckych, či charitatívnych iniciatív je v súčasnosti veľké množstvo. Dá sa na to pozrieť z dvoch uhlov: a) pesimista hodí všetky organizácie do jedného vreca ako prostriedok na ťahanie peňazí z vreciek dôverčivých ľudí, b) optimista verí, že ľudia vo svojej podstate chcú byť dobrí a pomôcť svojim blízkym. Ako to už v živote chodí, pravda je niekde uprostred ☺. Keď mi však môj kamarát Erich predstavil myšlienku projektu, neváhal som ani chvíľu a rozhodol som sa podporiť ho. Dôvod? Pretože v tomto projekte nejde o žiadne peniaze, či dotácie, ale o skutočné „dobro“ -o jednoduché delenie sa s tými, čo to naozaj potrebujú. Verím, že počet darcov bude rásť a že časom sa aj z obdarovaných stanú dobrí pestovatelia ☺.
    </p>

    <br class="clear" />

</section>
