﻿<section id="partneri" class="main" >

    <h2>Podporujú nás</h2>

    <h3>Partnerské organizácie</h3>

    <ul class="gallery" >
        <li class="thumbnail" >
            <a href="http://www.rastlinky.sk/" target="_blank" >
                <img src="{$basePath}/i/rastlinky.png" alt="Rastlinky.sk" />
            </a>
        </li>
        <li class="thumbnail" >
            <a href="http://www.moravoseed.sk/" target="_blank" >
                <img src="{$basePath}/i/moravoseed.png" alt="MoravoSeed" />
            </a>
        </li>
        <li class="thumbnail" >
            <a href="http://www.sedos.sk/" target="_blank" >
                <img src="{$basePath}/i/sedos.png" alt="sedos" />
            </a>
        </li>
<li class="thumbnail" >
            <a href="http://www.symbiom.cz/" target="_blank" >
                <img src="{$basePath}/i/symbiom.jpg" alt="symbiom" />
            </a>
        </li>

        <li class="thumbnail" >
            <a href="http://www.agrokomplex.sk/" target="_blank" >
                <img src="{$basePath}/i/agrokomplex.png" alt="Agrokomplex" />
            </a>
        </li>
        <li class="thumbnail" >
            <a href="http://www.bocatius.sk/" target="_blank" >
                <img src="{$basePath}/i/bocatius.jpg" alt="Bocatius" />
            </a>
        </li>
        <li class="thumbnail" >
            <a href="http://www.meen.sk/" target="_blank" >
                <img src="{$basePath}/i/meen.jpg" alt="Meen" />
            </a>
        </li>
        <li class="thumbnail" >
            <a href="http://www.nohelgarden.sk/" target="_blank" >
                <img src="{$basePath}/i/nohel-garden.jpg" alt="Nohel garden" />
            </a>
        </li>
<li class="thumbnail" >
            <a href="http://startseite.nebelung.de/en/" target="_blank" >
                <img src="{$basePath}/i/nebelung.jpg" alt="Bruno Nebelung GmbH" />
            </a>
        </li>
       

<li class="thumbnail" >
            <a href="http://www.tasr.sk/" target="_blank" >
                <img src="{$basePath}/i/tasr.png" alt="TASR" />
            </a>
        </li>
        <li class="thumbnail" >
            <a href="http://www.antenahitradio.sk/" target="_blank" >
                <img src="{$basePath}/i/antena.png" alt="Anténa hitrádio" />
            </a>
        </li>
        
        <li class="thumbnail" >
            <a href="http://www.regionpress.sk/" target="_blank" >
                <img src="{$basePath}/i/region-press.png" alt="Region press" />
            </a>
        </li>
        <li class="thumbnail" >
            <a href="http://www.debnickari.sk/" target="_blank" >
                <img src="{$basePath}/i/debnickari.jpg" alt="Debničkári" />
            </a>
        </li>
        <li class="thumbnail" >
            <a href="http://www.smailik.sk/" target="_blank" >
                <img src="{$basePath}/i/pure.png" alt="Smailik.sk" />
            </a>
        </li>
        <li class="thumbnail" >
            <a href="http://www.svetbedniciek.sk/" target="_blank" >
                <img src="{$basePath}/i/svet-bedniciek.jpg" alt="Svet Bedničiek" />
            </a>
        </li>
        <li class="thumbnail" >
            <a href="http://sr.mamplan.com/" target="_blank" >
                <img src="{$basePath}/i/mamplan.gif" alt="Mamplan" />
            </a>
        </li>
        <li class="thumbnail" >
            <a href="http://dakujeme.sme.sk/" target="_blank" >
                <img src="{$basePath}/i/dakujeme-sme.png" alt="Ďakujeme.sme.sk" />
            </a>
        </li>
        <li class="thumbnail" >
            <a href="http://echo.sme.sk/echo/prievidza/" target="_blank" >
                <img src="{$basePath}/i/prievidzske-echo.png" alt="Prievidzske echo" />
            </a>
        </li>
        <li class="thumbnail" >
            <a href="http://www.mynoviny.sk/hornonitrianske-noviny-697.aspx" target="_blank" >
                <img src="{$basePath}/i/my.png" alt="MY - Hornonitrianske noviny" />
            </a>
        </li>
        <li class="thumbnail" >
            <a href="http://www.joj.sk/" target="_blank" >
                <img src="{$basePath}/i/TVJOJ.jpg" alt="TV JOJ" />
            </a>
        </li>
        <li class="thumbnail" >
            <a href="http://www.expres.sk/" target="_blank" >
                <img src="{$basePath}/i/radioexpres.gif" alt="Radio Expres" />
            </a>
       </li>
<li class="thumbnail" >
            <a href="http://www.bardejovskatv.sk/" target="_blank" >
                <img src="{$basePath}/i/btv.jpg" alt="Bardejovská TV" />
            </a>
        </li>
 </li>
<li class="thumbnail" >
            <a href="http://www.bioandlife.sk/" target="_blank" >
                <img src="{$basePath}/i/bioandlife2.jpg" alt="Bio and Life" />
            </a>
        </li>

<li class="thumbnail" >
            <a href="http://www.expocenter.sk/" target="_blank" >
                <img src="{$basePath}/i/expocenterTNmale.jpg" alt="Expocenter Trenčín" />
            </a>
        </li>

    </ul>

    <h3>Podporovatelia - súkromné osoby</h3>

    <ul class="two-columns">
        <li>Ľudmila Kolesárová, marketinová manažérka, Dobrý Anjel n.o.</li>
        <li>p. Miškerníková, OZ Mamám Slovenska</li>
        <li>Katarína Kupcová, Depaul Slovensko n.o.</li>
        <li>Mirka Biel Kasanická, <a href="http://www.stefanides.sk/" target="_blank" >Dávid Štefanides</a>, Pavol Eichler</li>
        <li>Milan Gigel, redaktor denníka SME</li>
        <li><a href="http://peterazor.com/" target="_blank" >Peter Azor, fotograf</a></li>
        <li>Adriána Francová, záhradná architektka, redaktorka</li>
        <li>Jozef Gnida, manažér, RASTLINKY.sk</li>
        <li>Ing. Michal Sedlák s manželkou, konatelia, SEDOS s.r.o.</li>
        <li>Ing. Martin Fritsche, obchodný zástupca, Bruno Nebelung GmbH</li>
        <li>Ing. Marta Juríková, MORAVOSEED Slovakia</li>
            </ul>

    <br class="clear" />


</section>
