﻿<section id="perex" class="main emphasized" >

    <div class="content">
        <h2>Vypestujme spoločne dobro</h2>
        <p class="claim" >
            Pomôžte kúskom svojej úrody ľuďom v ťažkej situácii.
        </p>

        <nav class="quick" >
            <div class="battery" >
                <a href="#ako-mozem-pomoct" class="button large offer" >Chcem pomôcť</a>
                <a href="#komu-je-pomoc-urcena" class="button large danger receive" >Potrebujem pomoc</a>
            </div>
            <div class="more" >
                <a href="#co-je-vypestuj-dobro" class="about" >Ako to celé funguje?</a>
            </div>
        </nav>
    </div>

    <div class="vegetables" ></div>

</section>
