<!-- Facebook JS SDK -->
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            {ifset $facebook['appId']}
            appId      : {$facebook['appId']},
            status     : true,
            cookie     : true,
            {/ifset}
            channelURL : {$baseUrl} + '/fbChannel.php',
            xfbml      : true
        });
        // let jQuery know about tbAsyncInit event
        $(window).trigger('facebook');
    };
    (function(d){
        var js, id = 'facebook-jssdk'; if (d.getElementById(id)) { return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/" + {isset($facebook['locale']) ? $facebook['locale'] : 'en_US'} + "/all.js";
        d.getElementsByTagName('head')[0].appendChild(js);
    }(document));
</script>
<!-- /Facebook JS SDK -->