{default $subject = 'default' }

{form contactForm class => 'contact ajax'}

    {if isset($sent) AND $sent }

        <h3 class="center">Odoslané</h3>
        <p>
            Ďakujeme, vaša správa bola úspešne odoslaná.
        </p>

    {else}

        <h3 n:ifset="$headline" class="sent">{$headline}</h3>

        {label email /}
        {input email }
        {label message /}
        {input message }
        {input subject value => $subject }

        <ul class="errors" n:if="$form->hasErrors()">
            <li n:foreach="$form->errors as $error">{$error}</li>
        </ul>

        {input submit class => 'button' }

    {/if}

{/form}