{layout '../@layout.latte'}

{block head}

    <link type="text/css" href="{$basePath}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="{$basePath}/lib/bootstrap/js/bootstrap.min.js" ></script>

{/block}

{block body}

{include #content}